<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css"/>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
            <h1>REGISTRARME</h1>
            
            <form id= "register" action="/register" method="post">
                <label for="name"></label>
                <input class="register"
                    required
                    id="name"
                    type="text"
                    name="name"
                    placeholder="nombre"
                />
                <label for="surname"></label>
                <input class="register"
                    required
                    id="surname"
                    type="text"
                    name="surname"
                    placeholder="apellido"
                />
                <label for="email"></label>
                <input class="register"
                    required
                    id="email"
                    type="email"
                    name="email"
                    placeholder="email"
                />
                <label for="password"></label>
                <input class="register"
                    required
                    id="password"
                    type="password"
                    name="password"
                    placeholder="password"
                />
                <label for="confirmPassword"></label>
                <input class="register"
                    required
                    id="confirmPassword"
                    type="password"
                    name="confirmPassword"
                    placeholder="confirmar contraseña"
                />
                <label id="dob" for="dob">Si vos querés, celebramos tu dia!</label>
                <input class="register"
                    id="dob"
                    type="date"
                    name="dob"
                    placeholder="fecha de nacimiento"
                />
                <div class="termsCheck">
                    <input
                        required
                        type="checkbox"
                        id="terms"
                        name="terms"
                    />
                    <a href="/terms">Acepto los términos y condiciones</a>
                </div>
                <button id="enviar" type="submit">ENVIAR</button>
            </form>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>