<footer>
    <nav class="footer-nav">
        <section class="nav-bar">
            <a href="Conocenos">Conocenos</a>
            <a href="Preguntas Frecuentes">Preguntas Frecuentes</a>
            <a href="Contactanos">Contactanos</a>
        </section>

        <section class="social-media">
            <div>
                <a href="/"><img src="/assets/logo.png" alt="logo" /></a>
            </div>
            <div>
                <a href="Instagram"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="Facebook"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="Twitter"><i class="fa-brands fa-square-twitter"></i></a>
                <a href="YouTube"><i class="fa-brands fa-square-youtube"></i></a>
                <a href="Spotify"><i class="fa-brands fa-spotify"></i></a>
            </div>
        </section>

        <section class="newsletter">
                <label for="email">Newsletter</label>
                <form>
                    <input type="email" id="email" name="email" placeholder="email"/>
                    <button type="submit">Suscribir</button>
                </form>
                <p>al suscribir aceptas nuestros <a href="Terminos y condiciones">terminos y condiciones</a></p>   
        </section>      
    </nav>

    <div class="copyrigths">
        <p>Copyrigths 2023</p>
    </div>       

</footer>